In [30]:
import pandas as pd

df = pd.read_excel('data.xlsx')
#print(df.columns)
df.columns = ['Year', 'Median house price', 'Westpac: 4 year forecast','Joe Bloggs: 2 year forecast', 'Harry Spent: 5 year forecast']

In [31]:
# Checking the data types
col = 'Median house price'
unique_types = df[col].apply(type).unique()
indices = df.index[df[col].apply(lambda x: isinstance(x, str))].tolist()
# 13
df.at[13,col] = 760000

In [33]:
# Checking the data types
col = 'Westpac: 4 year forecast'
unique_types = df[col].apply(type).unique()
indices = df.index[df[col].apply(lambda x: isinstance(x, str))].tolist()

# 12
df.at[12,col] = 0.15

In [34]:
# Checking the data types
col = 'Joe Bloggs: 2 year forecast'
unique_types = df[col].apply(type).unique()
indices = df.index[df[col].apply(lambda x: isinstance(x, int))].tolist()

print(unique_types)
print(indices)

#1
df.at[1,col] = 0.34

#6
df.at[6,col] = 0.15

[<class 'float'> <class 'str'> <class 'int'>]
[6]

In [35]:
col = 'Harry Spent: 5 year forecast'
unique_types = df[col].apply(type).unique()
indices = df.index[df[col].apply(lambda x: isinstance(x, int))].tolist()

print(unique_types)
print(indices)

[<class 'float'>]
[]

In [36]:
df

,Year,Median house price,Westpac: 4 year forecast,Joe Bloggs: 2 year forecast,Harry Spent: 5 year forecast
0,2011,340000,0.56,0.23,-0.20
1,2012,370000,0.53,0.34,-0.80
2,2013,350000,NaN,0.19,-0.70
3,2014,420000,0.13,0.42,-0.80
4,2015,425000,0.33,0.23,-0.50
5,2016,500000,-0.05,0.15,-0.90
6,2017,520000,0.45,0.15,-0.30
7,2018,550000,0.34,0.18,NaN
8,2019,596000,0.34,0.19,-1.10
9,2020,610000,0.2,0.23,-0.90
10,2021,660000,-0.2,0.13,-0.60
11,2022,720000,0.15,0.08,-0.69
12,2023,73000,0.15,0.07,-0.80
13,2024,760000,-0.1,-0.02,-0.80